*.class
*.lst
.idea/*
*.iml
*.xml
venv/
__pycache__/
data/
.DS_Store
models/
Seq2seq-PyTorch/env/
thesis/thesis/
data/
java-pico/
java-small/
tmp/
java-small.*
java-pico-bpe.*
preprocessing/
java-med-preprocessed.tar.gz
figures/
java-med/